<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
	<appSettings>
		<!--语言设置-->
		<add key="Language" value="zh_cn" />
		<!--剪贴板秘钥-->
		<add key="Encrypt" value="62806280628062806280628062806280" />
		<!--录屏导出路径-->
		<add key="ScreenRecordingPath" value="" />
		<!--通信端口-->
		<add key="Tcp" value="6280" />
		<!--昵称-->
		<add key="NickName" value="" />
		<!--IP-->
		<add key="Ip" value="" />
		<!--开机启动-->
		<add key="Start" value="" />
		<!--最后一次截图区域-->
		<add key="ScreenCapture_Last" value="" />
		<!--对比窗体名称-->
		<add key="ScreenCapture_Title" value="1111${yyyy-MM-dd HH:mm:ss}" />
		<!--对比窗体透明度-->
		<add key="ScreenCapture_Opacity" value="60" />		
		
		<!--截图快捷键-->
		<add key="ScreenCapture_Key" value="0|1|1|A" />
		<!--最后一次截图快捷键-->
		<add key="ScreenCapture_LastKey" value="0|1|1|S" />
		<!--对比截图快捷键-->
		<add key="ScreenCapture_DiffKey" value="0|1|1|D" />
		
		<!--共享桌面停止-->
		<add key="DeskShare" value="0|Escape" />
		<!--剪贴板快捷键-->
		<add key="Clipboard" value="5|1" />

		<!--闹铃监听间隔-->
		<add key="Alarm" value="300000 " />

		<!--闹铃监听间隔-->
		<add key="Rule" value="" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
