<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
	<appSettings>
		<add key="Language" value="zh_cn" />
		<add key="Encrypt" value="62806280628062806280628062806280" />
		<add key="ScreenRecordingPath" value="" />
		<add key="ScreenRecordingFps" value="" />
		<add key="Tcp" value="6280" />
		<add key="NickName" value="" />
		<add key="Ip" value="" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
